/* 自定义 Element-ui 主题样式变量 */
// 改变 icon 字体路径变量，必需
$--font-path: '~element-ui/lib/theme-chalk/fonts';
$border-color:#e4e4e4;
$bg-hover-color:#F5F9FF;
/* Colors
-------------------------- */
$--color-primary: #1890ff;
$--color-success: #13ce66;
$--color-success: #67c23a;
$--color-warning: #f0a22e;
$--color-danger: #ee5959;

$--color-text-primary: #303133 !default;
$--color-text-regular: #333 !default;
$--color-text-secondary: #909399 !default;
$--color-text-placeholder: #999 !default;


/* Border
-------------------------- */
$--border-width-base: 1px !default;
$--border-style-base: solid !default;
$--border-color-base: #e4e4e4 !default;
$--border-color-light: #e4e7ed !default;
$--border-color-lighter: #ebeef5 !default;
$--border-color-extra-light: #f2f6fc !default;
$--border-color-hover: $--color-text-placeholder !default;
$--border-base: $--border-width-base $--border-style-base $--border-color-base !default;
$--border-radius-base: 4px !default;
$--border-radius-small: 2px !default;
$--border-radius-circle: 100% !default;

/* Box-shadow
-------------------------- */
$--box-shadow-base: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04) !default;
$--box-shadow-dark: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .12) !default;
$--box-shadow-light: 0 2px 12px 0 rgba(0, 0, 0, 0.1) !default;

/* Table
-------------------------- */
/// color||Color|0
$--table-border-color: $border-color !default;
$--table-border: 1px solid $border-color !default;
/// color||Color|0
$--table-font-color:#666 !default;//表格内字体颜色
/// color||Color|0
$--table-header-font-color: #333333 !default;//表格头部字体颜色
/// color||Color|0
$--table-row-hover-background-color: $bg-hover-color !default;//表格行hover背景色
$--table-current-row-background-color: $bg-hover-color !default;
/// color||Color|0
$--table-header-background-color: #F5F5F5 !default;//表格头部背景色
$--table-fixed-box-shadow: 0 0 10px rgba(0, 0, 0, .12) !default;
/* Select
-------------------------- */
// $--select-border-color-hover: $--border-color-hover !default;
// $--select-disabled-border: $--disabled-border-base !default;
/// fontSize||Font|1
// $--select-font-size: $--font-size-base !default;
// $--select-close-hover-color: $--color-text-secondary !default;

// $--select-input-color: $--color-text-placeholder !default;
// $--select-multiple-input-color: #666 !default;
/// color||Color|0
// $--select-input-focus-border-color: $--color-primary !default;
/// fontSize||Font|1
// $--select-input-font-size: 14px !default;

// $--select-option-color: $--color-text-regular !default;
// $--select-option-disabled-color: $--color-text-placeholder !default;
// $--select-option-disabled-background: $--color-white !default;
/// height||Other|4
// $--select-option-height: 34px !default;
// $--select-option-hover-background: $--background-color-base !default;
/// color||Color|0
// $--select-option-selected-font-color: $--color-primary !default;
// $--select-option-selected-hover: $--background-color-base !default;

// $--select-group-color: $--color-info !default;
// $--select-group-height: 30px !default;
// $--select-group-font-size: 12px !default;

// $--select-dropdown-background: $--color-white !default;
// $--select-dropdown-shadow: $--box-shadow-light !default;
// $--select-dropdown-empty-color: #999 !default;
/// height||Other|4
// $--select-dropdown-max-height: 274px !default;
// $--select-dropdown-padding: 6px 0 !default;
// $--select-dropdown-empty-padding: 10px 0 !default;
// $--select-dropdown-border: solid 1px $--border-color-light !default;
:export {
  theme: $--color-primary;
  success:$--color-success;
}
